* {
  box-sizing: border-box;
}

section {
  background-color: #80723c;
  text-align: center;
  color: #594a15;
  font-size: xx-large
}

body {
  background-size: contain;
  background-color: rgb(207, 207, 205);
  color: #b5b5b5;
}

header {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

section {
  padding: 90px;
  border-radius: 6%;
  text-align: center;
  background: #161718;
  color: #837025;
}

nav {
  display: flex;
  background-color: rgb(245, 245, 240);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif font-size: medium;
  justify-content: space-between
}

nav a {
  padding: 1px;
  color: #10100f;

}

nav ul {
  margin: 0;
  padding-inline: 18%;
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  color: #000509;
  display: flex;
  justify-content: center;
  padding: 1%;

}

h1 {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 90;
  font-size: xx-large;
}

h2 strong {
  color: #000509;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  margin: 800px;
  border: 10px;
}

h3 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium
}

img {
  border-radius: 20%;
}

button {
  font-style: italic;
  margin: 10px;
}